<!-- Botão adicionar -->
<div class="btn-group"> <!--  navbar-right para alinhar-->
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    + Adicionar <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url 'criar_tarefa' %}">Tarefa</a></li>
    <li><a href="{% url 'criar_lembrete' %}">Lembrete</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'criar_projeto' %}">Projeto</a></li>
    <li><a href="{% url 'criar_papel' %}">Papel</a></li>
  </ul>
</div>
<!-- fim Botão adicionar -->