<!-- Modal Tarefa -->
<div class="modal fade {{ abrir_modal_tarefa }}" id="criarTarefa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('.modal').hide()" class="close" data-dismiss="modal" aria-hidden="true">x
                </button>
                <h4 class="modal-title">Cadastrar Tarefa</h4>
                <em>* itens obrigatórios!</em>
            </div>
            <div class="modal-body">
                <form action="{% if editar_tarefa %}{% url 'editar_tarefa' %}{% else %}{% url 'criar_tarefa' %}{% endif %}" class="form-horizontal" method="post" role="form">{% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="id_titulo" class="control-label">Título <abbr title="Campo obrigatório">*</abbr></label>
                        </div>
                        <div class="col-sm-10">
                            <input name="titulo" type="text" class="form-control" value="{{ form.titulo.value }}" maxlength="200" id="id_titulo" placeholder="Escreva o título da tarefa..">
                            {% for error in form.titulo.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-sm-2">
                            <label for="id_descricao" class="control-label">Descrição</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea name="descricao" id="id_descricao" class="form-control" rows="4" placeholder="Descrição da tarefa..">{{ form.descricao.value }}</textarea>
                            {% for error in form.descricao.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Data e hora -->
                    <!-- Data -->
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_data" class="control-label">Data <abbr title="Campo obrigatório">*</abbr></label>
                            </div>
                            <div class="col-sm-4">
                                <!-- todo setar valor default com o now-->
                                <input name="data" type="Date" value="{% now  "Y-m-d" %}" class="form-control">
                                {% comment if form.data.value %}
                                    <input name="data" type="Date" value="{{ form.data.value|date:'Y-m-d' }}" class="form-control">
                                {% else %}
                                    <input name="data" type="Date" value="{% now  "Y-m-d" %}" class="form-control">
                                {% endif %}
                                {% for error in form.data.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                                {% endcomment %}
                            </div>
                        </div>
                        <!-- fim Data -->
                        <!-- Hora -->
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_hora" class="control-label">Hora</label>
                            </div>
                            <div class="col-sm-4">
                                {% if form.hora.value %}
                                <input name="hora" type="Time" value="{{ form.hora.value|time:"H:i" }}" class="form-control" id="id_hora">
                                {% else %}
                                    <input name="hora" type="Time" class="form-control" id="id_hora">
                                {% endif %}
                                {% for error in form.hora.errors %}
                                    <p class="text-danger">{{ error|escape }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- fim Hora -->
                    </div>
                    <!-- fim Data e Hora-->
                    <hr>
                    <!-- Projeto e Papel (inline) -->
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_papel" class="control-label">Papel</label>
                            </div>
                            <div class="col-sm-4">
                                <select name="papel" class="form-control" style="width: 150px;" id="papel">
                                    <option value="" selected="" disabled="">Selecione</option>
                                    {% for papel in request.session.papeis %}
                                        <option value="{{ papel.id }}">{{ papel.nome }}</option>
                                        {% empty %}
                                            <option value="" selected="" disabled="">Nenhum</option>
                                    {% endfor papeis %}
                                </select>
                            </div>
                        </div>
                        <!-- Projeto -->
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_projeto" class="control-label" contenteditable="true">Projeto</label>
                            </div>
                            <div class="col-sm-4">
                                <select name="projeto" class="form-control" style="width: 150px;" id="projeto">
                                    <!-- todo verificar se a tarefa possui projeto e imprimir nome e id como opção selecionada -->
                                    <option value="" selected="" disabled="">Selecione</option>
                                    {% for projeto in request.session.projetos %}
                                        <option value="{{ projeto.id }}">{{ projeto.nome }}</option>
                                        {% empty %}
                                            <option value="" selected="" disabled="">Nenhum</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- fim Projeto -->
                    </div>
                    <!-- Projeto e Papel (inline) -->
                    <hr/>
                    <!-- Repetir -->
                    <div class="form-group">
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <label for="id_repeticao" class="control-label">Repetir</label>
                            </div>
                            <div class="col-sm-3">
                                <select name="repeticao" class="form-control" id="id_repeticao">
                                    <option value="" selected="" disabled="">Selecione</option>
                                    <option value="diario">Diariamente</option>
                                    <option value="semanal">Semanal</option>
                                    <option value="mensal">Mensal</option>
                                    <option value="anual">Anual</option>
                                </select>
                            </div>
                        </div>
                        <!-- Nùmero repetições -->
                        <div class="form-inline">
                            <div class="col-sm-2">
                                <input name="numRepeticoes" type="number" placeholder="Número de repetições!" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!-- fim repetir -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="usuario" value="{{ user.id }}">
                            {% if id_tarefa %}
                                <input type="hidden" name="id" value="{{ id_tarefa }}">
                            {% endif %}
                            <input type="hidden" name="url" value="{{ url }}">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" class="close" onclick="$('.modal').hide()" data-dismiss="modal">Fechar</a>
            </div>
        </div>
    </div>
</div>
<!-- fim Modal Tarefa -->

<!-- Modal Criar Papel  -->
<div class="modal fade {{ abrir_modal_papel }}" id="criarPapel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('.modal').hide()" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cadastro de papel</h4>
                <em>* itens obrigatórios!</em>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="{% if editar_papel %}{% url 'editar_papel' %}{% else %}{% url 'criar_papel' %}{% endif %}" method="post" class="form-horizontal" role="form"> {% csrf_token %}
                                <!-- <legend draggable="true">Cadastro de papel</legend> -->
                                <div class="form-group col-md-10">
                                    <label for="id_nome">Nome: <abbr title="Campo obrigatório">*</abbr></label>
                                    <input name="nome" type="text" class="form-control" value="{{ form.nome.value }}" maxlength="200" id="id_nome" placeholder="Escreva o nome..">
                                    {% for error in form.nome.errors %}
                                        <p class="text-danger">{{ error|escape }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-12" draggable="true">
                                    <label for="id_descricao">Descricao:</label>
                                    <textarea name="descricao" id="id_descricao" class="form-control" rows="4" placeholder="Descrição do papel..">{{ form.descricao.value }}</textarea>
                                    {% for error in form.descricao.errors %}
                                        <p class="text-danger">{{ error|escape }}</p>
                                    {% endfor %}

                                </div>
                                <div class="form-group col-md-8">
                                    <input type="hidden" name="usuario" value="{{ user.id }}">
                                    <input type="hidden" name="url" value="{{ url }}">
                                    <button type="submit" class="btn btn-success" draggable="true">Cadastrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('.modal').hide()" class="btn btn-default" data-dismiss="modal">Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- fim MODAL papel -->
<!-- MODAL projeto  -->
<div class="modal fade {{ abrir_modal_projeto }}" id="criarProjeto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('.modal').hide()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastro de projeto</h4>
                <em>* itens obrigatórios!</em>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <form action="{% if editar_projeto %}{{ editar_projeto }}{% else %}/projetos/criar-projeto/{% endif %}" method="POST" class="form-horizontal" role="form"> {% csrf_token %}
                                <div class="form-group col-md-10">
                                    <label for="id_nome">Nome: <abbr title="Campo obrigatório">*</abbr></label>
                                    <input name="nome" id="id_nome_projeto" type="text" class="form-control" value="{{ form.nome.value }}" maxlength="200" id="id_nome" placeholder="Escreva seu nome..">
                                    {% for error in form.nome.errors %}
                                        <p class="text-danger">{{ error|escape }}</p>
                                    {% endfor %}

                                </div>
                                <div class="form-group col-md-12" draggable="true">
                                    <label for="id_descricao">Descricao:</label>
                                    <textarea name="descricao" id="id_descricao" class="form-control" rows="4" placeholder="Descrição da projeto..">{{ form.descricao.value }}</textarea>
                                    {% for error in form.descricao.errors %}
                                        <p class="text-danger">{{ error|escape }}</p>
                                    {% endfor %}

                                </div>
                                <input type="hidden" id="id_usuario_projeto" name="usuario" value="{{ user.id }}">
                                <input type="hidden" id="id_url_projeto" name="url" value="{{ url }}">
                                <!-- Verifica se possui id (editar -->
                                {% if form.id.value %}
                                    <input type="hidden" name="id" value="{{ form.id.value }}">
                                {% endif %}
                                <div class="form-group col-md-8">
                                    <button type="submit" class="btn btn-success" draggable="true" data-loading-text="Cadastrando...">Cadastrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="$('.modal').hide()" data-dismiss="modal">Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- fim MODAL categoria -->

<!-- Inicio MODAL Lembrete -->
<div class="modal fade {{ abrir_modal_lembrete }}" id="criarLembrete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="$('.modal').hide()" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Cadastrar Lembrete</h4>
                <em>* itens obrigatórios!</em>
            </div>
            <div class="modal-body">
                <form id="criar-lembrete" action="{% url 'criar_lembrete' %}" method="post" class="form-horizontal" role="form"> {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="id_titulo" class="control-label">Título <abbr title="Campo obrigatório">*</abbr></label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" value="{{ form.titulo.value }}" name="titulo" maxlength="200" class="form-control" id="id_titulo" placeholder="Título do lembrete">
                            {% for error in form.titulo.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-sm-2">
                            <label for="id_descricao" class="control-label">Descrição</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea name="descricao" id="id_descricao" class="form-control" rows="4" placeholder="Descrição da lembrete..">
                                {% if form.descricao.value == 'None' %}{% else %}
                                    {{ form.descricao.value }}
                                {% endif %}
                            </textarea>
                            {% for error in form.descricao.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Data <abbr title="Campo obrigatório">*</abbr></label>
                        </div>
                        <div class="col-sm-4">
                            {% if form.data.value %}
                                <input name="data" type="Date" value="{{ form.data.value|date:'Y-m-d' }}" class="form-control">
                            {% else %}
                                <input name="data" type="Date" value="{% now  "Y-m-d" %}" class="form-control">
                            {% endif %}
                            {% for error in form.data.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="usuario" value="{{ user.id }}">
                            <input type="hidden" name="url" value="{{ url }}">
                            <button type="submit" class="btn btn-success" data-loading-text="Cadastrando...">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" onclick="$('.modal').hide()" data-dismiss="modal">Fechar</a>
            </div>
        </div>
    </div>
</div>
<!-- Fim MODAL Lembrete -->