{% extends 'base.html' %}
{% block title %}
    <title>Resultados da busca {{ termo_busca }}</title>
{% endblock title %}

{% block corpo %}
    <div class="container">
        <div class="col-md-12">
            <!-- Breadcrumb -->
            <div class="row">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Início</a>
                    </li>
                    <li class="active">Resultado da pesquisa: "{{ termo_busca }}"</li>
                </ul>
            </div>
            <!-- Botão adicionar -->
            <div class="row">
                <!-- Exibe resultado da alteração da tarefa -->
                <div class="alert alert-success  alert-dismissable" id="mostrar-alerta" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <div id="resultado"></div>
                </div>
                <!-- Mensagem Django -->
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                <!-- Botão adicionar -->
                {% include 'includes/botao-adicionar.html' %}
                <!-- fim Botão adicionar -->
            </div>

            <br/>
            <!-- Tarefas -->
            <div class="row">
                <h3>Resultados da busca:
                    <small>{{ termo_busca }}</small>
                </h3>
                <!-- Tarefas -->
                {% if lista_tarefas_busca %}
                    <table class="table table-condensed table-hover table-striped">
                        <tbody id="tabelaTarefas">
                        {% for tarefa in lista_tarefas_busca %}
                            <tr>
                                <!-- PENDENTES -->
                                {% if tarefa.status == 0 %}
                                    <td><input class="checkTarefa" type="checkbox"
                                               idTarefa="{{ tarefa.id }}"/> {{ tarefa.titulo }}</td>
                                    <td>{{ tarefa.data|date:'Y-m-d' }}</td>
                                    <td>{{ tarefa.hora|time:'H:i' }}</td>

                                    {% if tarefa.projeto.nome %}
                                        <td>{{ tarefa.projeto.nome }}</td>
                                    {% else %}
                                        <td>Nenhum</td>
                                    {% endif %}

                                    {% if tarefa.papel.nome %}
                                        <td>{{ tarefa.papel.nome }}</td>
                                    {% else %}
                                        <td>Nenhum</td>
                                    {% endif %}

                                    <!-- CONCLUÍDAS -->
                                {% elif tarefa.status == 1 %}
                                    <td><input class="checkTarefa" type="checkbox" idTarefa="{{ tarefa.id }}" checked/>
                                        <del>{{ tarefa.titulo }}</del>
                                    </td>
                                    <td>
                                        <del>{{ tarefa.data|date:'Y-m-d' }}</del>
                                    </td>
                                    <td>
                                        <del>{{ tarefa.hora|time:'H:i' }}</del>
                                    </td>

                                    {% if tarefa.projeto.nome %}
                                        <td>
                                            <del>{{ tarefa.projeto.nome }}</del>
                                        </td>
                                    {% else %}
                                        <td>
                                            <del>Nenhum</del>
                                        </td>
                                    {% endif %}

                                    {% if tarefa.papel.nome %}
                                        <td>
                                            <del>{{ tarefa.papel.nome }}</del>
                                        </td>
                                    {% else %}
                                        <td>
                                            <del>Nenhum</del>
                                        </td>
                                    {% endif %}

                                    <!-- ATRASADAS -->
                                {% elif tarefa.status == 2 %}
                                    <td><p class="text-danger"><input class="checkTarefa" type="checkbox" idTarefa="{{ tarefa.id }}"/> {{ tarefa.titulo }}</p></td>
                                    <td><p class="text-danger">{{ tarefa.data|date:'Y-m-d' }}</p></td>
                                    <td><p class="text-danger">{{ tarefa.hora|time:"H:i" }}</p></td>

                                    {% if tarefa.projeto.nome %}
                                        <td><p class="text-danger">{{ tarefa.projeto.nome }}</p></td>
                                    {% else %}
                                        <td><p class="text-danger">Nenhum</p></td>
                                    {% endif %}

                                    {% if tarefa.papel.nome %}
                                        <td><p class="text-danger">{{ tarefa.papel.nome }}</p></td>
                                    {% else %}
                                        <td><p class="text-danger">Nenhum</p></td>
                                    {% endif %}

                                {% endif %}
                                <!-- fim ATRASADAS -->

                                <!-- fim Verifica se a tarefa está concluída -->
                                <!-- Botões Editar e Remover -->
                                <td>
                                    <a href="editar-tarefa.html?id={{ tarefa.id }}" role="button"
                                       class="btn btn-info btn-xs" title="Editar tarefa!"><span
                                            class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                                <td>
                                    <a href="{% url 'excluir_tarefa' tarefa.id %}" onclick="return confirm('Tem certeza que deseja excluir?');" role="button" class="btn btn-danger btn-xs" title="Excluir tarefa!"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                                <!-- Fim Botões Editar e Remover -->
                            </tr>
                        {% endfor %}
                        <!-- fim Lista Tarefas-->
                        </tbody>
                        <thead>
                        <tr>
                            <th class="col-sm-4"># Título</th>
                            <th class="col-sm-1">Data</th>
                            <th class="col-sm-1">Hora</th>
                            <th class="col-sm-2">Projeto</th>
                            <th class="col-sm-2">Papel</th>
                            <th class="col-sm-1">Editar</th>
                            <th class="col-sm-1">Deletar</th>
                        </tr>
                        </thead>
                    </table>
                    </div>
                    <!-- fim Tarefas -->
                {% else %}
                    <strong>Não foi encontrado nenhum resultado para "{{ termo_busca }}"!</strong>
                {% endif %}
            <hr>

            <!-- Importa todos os modals -->
            {% with url='busca.html' %}
                {% include 'includes/modals.html' %}
            {% endwith %}
        </div>
    </div>
{% endblock corpo %}