{% extends "base.html" %}
{% block title %}
    <title>Criar Lembrete - WebProdutive</title>
{% endblock title %}

{% block corpo %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">Início</a>
                    </li>
                    <li class="active">Cadastro de Lembrete</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- Mensagens do form -->
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                <!-- Form boostrap -->
                <form method="post" action="{% url 'criar_lembrete' %}" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <legend draggable="true">Cadastro</legend>
                    <em>* itens obrigatórios!</em>

                    <!-- ERROS -->
                    {% if form.errors %}
                        <div class="alert alert-error">
                            <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <!-- CAMPOS FORMS -->
                    {% for field in form.visible_fields %}
                        <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
                            <label class="control-label">
                                {{ field.label }}{% if field.field.required %} *{% endif %}</label>
                            <div class="controls">
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}

                    <div class="form-group col-md-8">
                        <button class="btn btn-success" draggable="true">Cadastrar</button>
                    </div>
                </form>
                <!-- fim Form boostrap -->
            </div>
        </div>
    </div>
{% endblock corpo %}