{% extends "base.html" %}
{% block title %}
    <title>Login - Produtive</title>
{% endblock title %}

{% block menu-topo %}
    <div class="navbar navbar-default navbar-inverse navbar-static-top">
        <style>
            .body {
                padding-top: 70px
            }
        </style>
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" contenteditable="true">Produtive</a>
            </div>
        </div>
    </div>
{% endblock menu-topo %}
{% block corpo %}
    <div class="container">
        <div class="row">

            <div class="col-md-5">
                <!-- Mensagens do form (msg) -->
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                <form action="{% url 'login' %}" method="post" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="id_username" class="control-label">Usuário</label>
                        </div>
                        <div class="col-sm-10">
                            <input id="id_username" maxlength="254" name="username" class="form-control" type="text" placeholder="Escreva o usuário.." />
                        </div>
                    </div>
                    <div class="form-group" draggable="true">
                        <div class="col-sm-2">
                            <label for="id_password" class="control-label">Senha</label>
                        </div>
                        <div class="col-sm-10">
                            <input id="id_password" name="password" class="form-control" type="password" placeholder="Escreva seu nome.." />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="next" value="{{ next|default_if_none:"/" }}" />
                            <button type="submit" class="btn btn-primary btn-sm">Entrar</button>
                        </div>
                    </div>
                </form>
                <div class="form-group col-md-8">
                    ou <a href="{% url 'criar_usuario' %}"><strong>cadastre-se</strong></a>
                </div>
            </div>
        </div>
    </div>
{% endblock corpo %}