{% extends 'base.html' %}
{% block title %}
    <title>Papéis - WebProdutive</title>
{% endblock title %}
{% block corpo %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Início</a></li>
                    <li class="active">Papéis</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- Mensagem Django -->
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                <!-- Botão adicionar -->
                {% include 'includes/botao-adicionar.html' %}
                <!-- fim Botão adicionar -->

                <h1>Lista de papéis</h1>
                <ul class="list-group col-md-8">
                    {% for papel in request.session.lista_papeis %}
                        <li class="list-group-item">
                            <!-- Excluir editar papel -->
                            <a href="{% url 'papel' papel.id %}" title="{{ papel.nome }}">{{ papel.nome }}</a>

                            <a href="{% url 'excluir_papel' papel.id %}" onclick="return confirm('Tem certeza que deseja excluir?');" role="button" class="remove-item btn btn-danger btn-xs pull-right espaco" title="Excluir papel!"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-info btn-xs pull-right" href="{% url 'editar_papel' papel.pk %}">Editar</a>
                            <!-- fim Excluir editar papel -->
                        </li>
                        {% empty %}
                            <p class="text-warning">Não há papéis disponíveis. <a href="{% url 'criar_papel' %}" >Adicione o primeiro!</a></p>
                    {% endfor %}
                </ul>
                <!-- fim Lista papeis -->
            </div>
        </div>
        <hr>
        {% with url='papeis.html'  %}
        {% include 'includes/modals.html' %}
        {% endwith %}

    </div>
{% endblock corpo %}