{% extends "base.html" %}
{% block title %}
    <title>Relatórios - WebProdutive</title>
{% endblock title %}

{% block corpo %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <pre>
                           <code class="sql">
/*
 * RELATÓRIO 1, Obter todas as tarefas que a descrição do papel e o título do projeto que
 * comecem com a letra A e que a data da tarefa esteja  entre a data atual e 2017-03-01
 *
 * O relatório deverá apresentar:
 *     A descrição do papel que está vinculada a tarefa;
 *     O nome do usuário que na qual a  tarefa está vinculada;
 *     A descrição da tarefa;
 *     O nome do projeto que a tarefa está vinculada;
 */

SELECT
  papel.descricao  AS papel,
  usuario.nome     AS nome,
  tarefa.descricao AS tarefa,
  projeto.nome     AS projeto
FROM tarefa
  INNER JOIN usuario ON usuario.id = tarefa.fk_usuario_id
  INNER JOIN projeto ON projeto.id = tarefa.fk_projeto_id
  INNER JOIN papel   ON papel.id = tarefa.fk_papel_id
WHERE tarefa.data BETWEEN '2017-03-01' AND NOW() AND papel.descricao LIKE 'A%' AND projeto.nome LIKE 'A%'
GROUP BY tarefa.titulo, tarefa.fk_papel_id, tarefa.fk_projeto_id
ORDER BY tarefa.data;
                           </code>
                        </pre>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <th>Papel</th>
                            <th>Nome</th>
                            <th>Tarefa</th>
                            <th>Projeto</th>
                        </tr>

                        {% for dados in relatorio1 %}
                            <tr>
                                <td>{{dados.papel}}</td>
                                <td>{{dados.nome}}</td>
                                <td>{{dados.tarefa}}</td>
                                <td>{{dados.projeto}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">
                                    <p class="text-warning">Não há dados disponíveis. </p>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <pre>
                           <code class="sql">
    /**
    * RELATÓRIO 2  Obter todas as  tarefas que possuem mais de duas repetição e que a data
    * não coincida com sábado, domingo ou quarta-feira.
    * O relatório deverá mostrar o título da tarefa e a quantidade de vezes
    * que ela foi repetida
    */
    SELECT a.titulo, b.reptidos
    FROM tarefa AS a
    INNER JOIN (
        SELECT fk_tarefa_repetida_id  AS id,  COUNT(fk_tarefa_repetida_id) AS reptidos
        FROM tarefa
        WHERE status_tarefa_repetida > 0
        GROUP BY fk_tarefa_repetida_id
        HAVING reptidos > 2
    ) AS b ON a.id = b.id
    WHERE DAYOFWEEK(a.data) NOT IN (1, 4, 7);
                           </code>
                        </pre>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <th>Titulo</th>
                            <th>Repetido</th>
                        </tr>
                        {% for dados in relatorio2 %}
                            <tr>
                                <td>{{dados.titulo}}</td>
                                <td>{{dados.reptidos}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">
                                    <p class="text-warning">Não há dados disponíveis. </p>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <pre>   <code class="sql">
/*
 * RELATÓRIO 3  - Obter a descrição de todos os lembretes de usuários que
 * possuem tarefas nas quarta feiras e quintas;
 *
 * 	O relatório deve mostrar somente um registro quando houver
 * 		lembretes com a descrição repetida
 */
(SELECT DISTINCT (a.descricao)
FROM lembrete AS a
INNER JOIN (
    SELECT t.fk_usuario_id
    FROM tarefa AS t
    WHERE DAYOFWEEK(t.data) = 4
) AS b
)

UNION

(SELECT DISTINCT (a.descricao)
FROM lembrete AS a
INNER JOIN (
    SELECT t.fk_usuario_id
    FROM tarefa AS t
    WHERE DAYOFWEEK(t.data) = 5
) AS b)
;
                    </code>
                        </pre>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <th>Descricao</th>
                        </tr>
                        {% for dados in relatorio3 %}
                            <tr>
                                <td>{{dados.descricao}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="1">
                                    <p class="text-warning">Não há dados disponíveis. </p>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <pre>   <code class="sql">
   /*
    * RELATÓRIO 4 - Obter uma lista das últimas tarefas adicionadas em cada projeto.
    *       O relatório deverá mostrar o título do projeto e a descrição da última tarefa
    *       adicionada ao projeto.
    */
    SELECT p.nome, b.descricao
    FROM projeto AS p
    INNER JOIN (
        SELECT MAX(t.id)  AS tid, t.fk_projeto_id AS pid,  t.descricao
        FROM tarefa AS t
    WHERE t.fk_projeto_id IS NOT NULL
    GROUP BY t.fk_projeto_id
    ) AS b ON b.pid = p.id;
                    </code>
                        </pre>
                </div>
                <div class="panel-body">
                   <table class="table table-responsive table-bordered">
                        <tr>
                            <th>Nome</th>
                            <th>Descricão</th>
                        </tr>
                        {% for dados in relatorio4 %}
                            <tr>
                                <td>{{dados.nome}}</td>
                                <td>{{dados.descricao}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">
                                    <p class="text-warning">Não há dados disponíveis. </p>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <pre>
                        <code class="sql">
    /*
    * RELATÓRIO 5 - Obter  os  períodos em que não existem tarefas com o dia do mês esteja
    * fora de sequência.
    * O relatório deve mostrar o dia inicial e o dia final do período em que não existem
    * nenhuma tarefa registrada.
    * deverá ser considerado o mês corrente.
    */
    SELECT
    DAYOFMONTH(a.data) + 1      AS DIA_INICIAL,
    MIN(DAYOFMONTH(c.data)) - 1 AS DIA_FINAL
    FROM tarefa AS a
    LEFT OUTER JOIN tarefa AS b ON DAYOFMONTH(a.data) = DAYOFMONTH(b.data) - 1
    LEFT OUTER JOIN tarefa AS c ON DAYOFMONTH(a.data) < DAYOFMONTH(c.data)
    WHERE DAYOFMONTH(b.data) IS NULL AND DAYOFMONTH(c.data) IS NOT NULL
    AND a.data BETWEEN DATE_FORMAT(NOW(), '%Y-%m-01') AND LAST_DAY(NOW())
    GROUP BY DAYOFMONTH(a.data), DAYOFMONTH(b.data);
                        </code>
                        </pre>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-bordered">
                        <tr>
                            <th>Dina Inicial</th>
                            <th>Dia Final</th>
                        </tr>
                        {% for dados in relatorio5 %}
                            <tr>
                                <td>{{dados.DIA_INICIAL}}</td>
                                <td>{{dados.DIA_FINAL}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">
                                    <p class="text-warning">Não há dados disponíveis. </p>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                </div>
            </div>


        </div>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}