{% extends 'base.html' %}
{% block title %}
    <title>Papéis - WebProdutive</title>
{% endblock title %}
{% block corpo %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Início</a></li>
                    <li class="active">Tarefas da semana</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- Mensagem Django -->
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}  alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                <!-- Botão adicionar -->
                {% include 'includes/botao-adicionar.html' %}
                <!-- fim Botão adicionar -->

                <h1>Lista de papéis</h1>
                <ul class="list-group col-md-8">
                    {% for tarefa in lista_tarefas %}
                        <li class="list-group-item">
                            {{ tarefa.titulo }}
                        </li>
                        {% empty %}
                            <p class="text-warning">Não há tarefas disponíveis. <a href="{% url 'criar_tarefa' %}" >Adicione uma tarefa!</a></p>
                    {% endfor %}
                </ul>
                <!-- fim Lista papeis -->
            </div>
        </div>
        <hr>

    </div>
{% endblock corpo %}